/*general colours and font */

.background-colour {
    background-color: rgb(255, 255, 239) ;
    text-align: center;
}

h1 {
    font-family: Arial;
     text-align: center;
     font-size: large;
   
     
}

h2 {
    font-family: Arial;
    text-align: center;
    font-size: small;
    font-weight: 400;
}

h3 {
    font-family: Arial;
    text-align: center;
    font-style: italic;
}
p {
    font-family: Helvetica;
    text-align: justify;
    padding: 30px;
}

.blog-text {
  margin-left: 5rem;
  margin-right: 5rem;
}

.list-orientation {
  text-align: left ;
  padding-left: 15%;
  padding-right: 10%;
}

.underline-text {
  text-decoration: underline;
}

/* navigation */
.navbar {
    overflow: hidden;
    background-color: rgb(150, 97, 107);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  .main {
    margin-top: 100px; 
    margin-bottom: 100px;
  }

  /*boxes for links on page*/
.inline-block {
    display: inline-block;
    margin-left: 40%;
    margin-right: 60%;
    margin-bottom: 1rem;
    width:300px;
    height:60px;
    line-height:50px;
    background:rgb(217, 230, 230);
    border:1px solid;
    text-align:center;
    
   
}

.text-boxes {
    display: inline-block;
    width: 870px;
    height: 20px;
    line-height: 20px;
    background: whitesmoke;
    border: 1px solid;
    border-color: rgb(55, 80, 92);
    text-align: center;
    
    

}
/*images*/
.front-page-img {
  display: block;
  border-radius: 30%;
  border: 1px solid black;
  max-width: 15%;
  height: auto;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.blog-img {
  display: block;
  max-width: 30%;
  height: 30%;
  margin: auto;
}

.border {
  border: 3px solid blueviolet;
  border-radius: auto;
  height: auto;
}
 
.inline-images {
  display: inline-block;
  height: 100px;
  width: 200px;
  text-align: center;
}

.code-examples {
  display: block;

}

.padding-example {
display: block;
border-radius: auto;
height: 10rem;
width: 10rem;
padding-left: 500px;

}

.margin-example {
  display: block;
  border-radius: auto;
  height: 10rem;
  width: 10rem;
  margin-bottom: 50px;

}