.background-colour {
    background-color: rgb(171, 154, 180) ;
}

h1 {
    font-family: monospace;
     text-align: center;
     
}

h2 {
    font-family: monospace;
    text-align: center;
}

h3 {
    font-family: monospace;
    text-align: center;
    font-style: italic;
}

/* fixed navigation bar with buttons */
.navbar {
    overflow: hidden;
    background-color: rgb(65, 16, 70);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  .main {
    margin-top: 30px; 
  }
.inline-block {
    display: inline-block;
    width:50px;
    height:50px;
    line-height:50px;
    background:cyan;
    border:1px solid;
    text-align:center;
}
  